<a href="https://colab.research.google.com/github/KylaLumane/CpE-0323.1-2-/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [1]:
if 5>2:
  print ("5 is greater than 2")

5 is greater than 2

Python Comment

In [2]:
print("Hello World") #This is a python comment

Hello World

Python Variable

In [5]:
z = 1
z,s = 0,-1
z,s,t = 8,9,10
print (s)

9

Casting

In [7]:
b = "Sally" #This is a string
b = int(4)
print (b)

4

In [9]:

print(type(b))

<class 'int'>

Double Quotes abd Single Quotes

In [12]:
w = "Ana"
print (w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitive

In [16]:
a = int(4)
A = "Sally"
A

'Sally'

Multiple Variable

In [17]:
h,i,j= "one",'two',"three"
print(h,i,j)

one two three

Multiple Variable with Single Value

In [18]:
k=l=m="four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation +

In [21]:
n = "enjoying"
p = "Python  programming is "
print(p + n)

Python  programming is enjoying